    /* general */

*  {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    }
   .container {
    width:80%;
    margin: auto;
    }
    .clear{
        clear: both;
    }
    a{
        text-decoration: none;
    }
    .md {
        margin: 0 5%;
    }

    /* -------------------------------header + navbar----------------------------- */

    .header {
        width:100%;
        position: fixed;
        z-index: 5;
        background-color: rgba(233, 228, 218, 0.7);
        height: 50px;
    }
    .header .logo {
        width:20%;
        float: left;
    }
    .container .header-content .nav{
        width:80%;
        text-align: right;
        float:left;
        margin-top: 5px;
    }
    .nav > li{
        list-style: none;
        display: inline-block;
        padding: 1%;

    }
    .nav  a{
        color: rgb(41, 38, 38);
        text-transform:uppercase ;
        font-weight: bold;
        z-index: -1;

    }
    .nav a:hover{
        height:20px;
        display: block;
        background-color: rgb(0, 162, 255,0.7);
        margin-top: 3px;
        transition: 1s;
    }  
    .nav .active{
        height:5px;
        width: 50px;
        background-color: rgb(0, 162, 255,0.7);
        display: block;
        margin:-5px 15.5%;
        position: absolute
    }
    /*------------------------------ home----------------------------- */
  #home {
        position: relative; 
        overflow: auto;
    }
    #home .img-home{
        width: 100%;
        height: 100vh;
        background-position: cover;

    }
    .home-content{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width:100%;
    }
    .home-content .home-text {
        color: #fff;
        font-size: 55px;
        text-transform: uppercase;
    }
    .home-para {
        margin: 20px;
        color: bisque;
        letter-spacing: 1px;
    }
    .home-content .btn {
        width: 150px;
        padding: 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        margin: 10px;
    }
   
    .btn2{
       background-color: blue;
       color: cornsilk;
    }

    /*------------------------------ about----------------------------- */

    #about{
        position: relative;
    }
    .about-content{
        text-transform: uppercase;
        color: rgb(20, 19, 19, 0.8);
        font-weight: bold;
    }
    .title {
        font-size: 35px;
        margin-top: 50px;
        text-align: center; 
    }
    .sp2 {
        width: 70px;
        height: 4px;
        background-color: #4b69c9;
        display: block;
        margin: auto;
        margin-top: 10px;
    }
    .about-item {
        padding-top: 70px;
        margin: auto;
        overflow:hidden;
    }
    .item-1 {
        border: 1px solid #c4c4c4;
    }
    .items{
        float: left;
        width: 30%;
        margin-bottom: 100px
    }
    .i1  {
        color: #6295f6;  
        display: block  !important ;
        text-align: center;
        margin-top: 20px;
        font-size: 35px;
    }
    .item-2 i img{
        width: 16%;
        margin: 17px 125px 0;
      } 
    .about-title {
        text-align: center;
        padding: 15px;
    }
    .about-para {
        text-align: center;
        letter-spacing: 2px;
        color: #c4c4c4;
        font-size: 18px;
        letter-spacing: 1px;
    }
    .about-a {
        color: #a7b9e8;
        text-align: center;
        display: block;
        padding: 15px;
    }

    .item-2 {
        border: 1px solid #c4c4c4;
    }

    .item-3 {
        border: 1px solid #c4c4c4;
    }

    .items:hover {
        background-color: rgba(131, 4, 91, 0.5);
        transition:  1s;
    }
    /*------------------------------ portfolio----------------------------- */
    #portfolio{
        background-color: rgba(238, 237, 237, 0.7);
    }
    .portfolio-title{
        text-transform: uppercase;
        color: rgb(20, 19, 19, 0.8);
        font-weight: bold;
    }
    .portfolio-content{
        overflow: hidden;
        text-transform: uppercase;
        color: rgb(20, 19, 19, 0.8);
        font-weight: bold;
        padding-top: 30px;
    }
    .portfolio-item {
        width:30%;
        float: left;
        position: relative;
    }
    .portfolio-item img{
        width: 100%;
        padding: 20px;
    }

    .portfolio-layer-content {
        width:100%;
        height:100%;
        position: absolute;
        top:0;
        left: 0;
        background-color: rgba(248, 79, 149, 0.6);
        text-align: center;
        visibility: hidden;
        opacity: 0.5;
        transition: 1.5s;
    }
    .portfolio-item:hover .portfolio-layer-content {
        visibility: visible;
        opacity: 1;
        background-color: rgb(0, 162, 255,0.7);
        transition: 2s;
    }
    .portfolio-layer-content .layer-info{
        width: 80%;
        position: absolute;
        left:50%;
        top:50%;
       transform: translate(-50%,-50%);
       text-align: center;
    }
    /*------------------------------ services ----------------------------- */
    #services{
    margin: 8%;  
    }
    .services-title{
        color: rgb(20, 19, 19, 0.8);
        font-weight: bold;
    }
    .services-content{
        color: rgb(20, 19, 19, 0.8);
        padding-top: 30px;
        overflow: hidden;
    }
    .services-item{
        width:30%;
        float: left;
        margin-left: auto;
        height: 200px;
        text-align: left;
        border: 1px solid #5f5b5b;
        position: relative;
    }
    .i2 {
        color: #6295f6;  
        display: inline-block  !important ;
        text-align: left;
        margin-top: 25px;
        margin-left: 5px;
        font-size: 30px;
        vertical-align: bottom;
    }
    .layer-info-title{
        margin: 5px 5px;
        display: inline-block ;
    }
    .services-para{
        color: rgba(107, 98, 98, 0.8);
        font-weight: bold;
        line-height: 20px;
        letter-spacing: 1px;
        font-size: 15px;
        margin-bottom: 20px;
        margin-left: 40px;
    }
    .services-item:hover .layer-info-title{
        color: rgb(177, 42, 42);
    }

    .services-content .md{
        margin: 0px 5%;
    }
    .services-item::after{
        content: "";
        width: 0;
        height: 0 ;
        position: absolute;
        top: 0;
        left:0;
        background-color: rgba(89, 146, 233, 0.7);
        transition: 1.5s;
        opacity:.5;
    }
    .services-item:hover::after{
        width: 100%;
        height: 100%;
    }

    
    /*------------------------------ services part2 ----------------------------- */

    .service-part2{
        margin-top: 50px;
        background-color: #f1f0f0;
    }
    .service-item2{
        width: 50%;
        float: left;
        text-align: left;
        margin-top: 50px;
    }
    .sp3 {
        width: 70px;
        height: 4px;
        background-color: #4b69c9;
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 20px;

    }
    .services-para2{
        color: rgba(107, 98, 98, 0.8);
        font-weight: bold;
        line-height: 30px;
        letter-spacing: .5px;
        font-size: 12px;
        text-transform:uppercase ;
    }
    ul .list .i3 {
        color: #6295f6;  
        text-align: left;
        margin-top:25px ;
        font-size: 20px;
        padding-right: 5px;

    }
    ul .list{
        color: #aa1d5f;
        font-size: 12px;
        font-weight: bold;

    }
    .service-item2 img{
        width: 80%;
    }
    .service-cursor li{
        width:15px;
        height:15px;
        display: inline-block;
        background-color: #8b8a8a;
        margin: 10px 5px;
        border-radius: 50%;
        position: relative;
        left:200px
    }
    .service-cursor li.active{
        background-color: #5c83d1;
    }
    .service-cursor li:hover{
        background-color: #5c83d1;
    }
    /*------------------------------ services part3 ----------------------------- */

    .service-part3
    {
        margin-top: 50px;
        position: relative;
        background-attachment: fixed;
        background-image: url(../images/matrix.jpg);
        background-size: cover;
        height: 250px;
        margin-top: 580px;
        opacity: 0.8;
    }

    .service-item3{
        width: 25%;
        text-align: left;
        float: left;
        text-align: center;
        padding-top: 7.5%;
    }
    .service-item3 h3{
        font-size: 25px;
        color: rgb(255, 250, 250);
        margin-top: 15px;
    }

    .sp4{
        color: rgb(236, 233, 233);
        font-weight: bold;
    }

/*------------------------------ pricing ----------------------------- */

    .pricing-content{
        color: rgb(20, 19, 19, 0.8);
        padding-top: 30px;
        overflow: hidden;
    }
    .pricing-item{
        width:30%;
        float: left;
        text-align: center;
        border: 1px solid #5f5b5b;
        position: relative;
    }
    .pricing-item h3{
        font-size: 25px;
        color: rgb(24, 23, 23);
        margin: 15px 0px;
        font-weight: bold;
    }
    .pricing-circle{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 2px solid #85a4e2;
        padding:10px 0; 
        margin: auto;
        text-transform: uppercase;
    }
    .pricing-circle h2{
        font-size: 35px;
        padding: 10px 0;
    }
    .month{
        font-weight: bold;
        font-size: 15px;
    }
    .pricing-list{
        list-style: none;
        padding: 10px 0;
    }
    .pricing-btn{
        border: 2px solid #506fac;
        border-radius: 10%;
        margin: auto;
        padding:10px;
        margin: 15px 0;   
        font-size: 15px;
        font-weight: bold;
        color: #5f5b5b;
        text-transform: uppercase;
    }
    .pricing-item::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 0 ;
        top: 0;
        left: 0;
        background-color: #034747;
        transition: 1.5s;
        opacity:.6;
    }
    .pricing-item:hover::after{
        width: 100%;
        height: 100%;
    }
    .pricing-item:hover .pricing-list{
        color: rgb(238, 94, 94);
        font-size: 20px;
        font-weight: bold;
    }
    .pricing-item:hover .pricing-btn    {
        color: rgb(223, 217, 217);
        background-color: #aa1d5f;
        font-size: 25px;
        font-weight: bold;
    }
    
/*------------------------------ people ----------------------------- */

    #people {
        background-image: url(../images/people.jpg);
        background-attachment: fixed;
        background-size: cover;
        height: 250px;
        position: relative;
        overflow: hidden;
        margin-top: 50px;
        opacity: 0.7;
    }   
    .people-content{
        overflow: hidden;
        width: 80%;
        margin: auto;
    }
    .people-item {
        float: left;    
        width: 50%;
        color: #fff;
        padding:90px 20px 10px 150px;
        position:relative;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    .people-item img{
       position: absolute;
       top: 80px;
       left: 60px;
       right: 10px;
       border-radius: 50%;
       width: 70px;
       height:70px
    }
    .people-item h3{
        color: #d80707;
        font-size: 20px;
        font-weight: bold;
    }
    .people-para{
       font-size: 18px;
       margin-top: 10px;
       font-weight: bold; 
       color: #451597; 
    }
    .people-item span{
       color: #0a53e6;
       font-size: 17px;
       font-weight: bold;
    }

/*------------------------------ team ----------------------------- */

.team-content{
    overflow: hidden;
    width: 100%;
    margin: auto;
}
.team-item {
    float: left;    
    width: 30%;
    color: rgb(129, 105, 105,0.7);
    position:relative;
    margin-top: 80px;
    padding: 20px;
    background-color: rgba(196, 195, 195, 0.4)

}
.team-img img{
    width: 80%;
}
.team-img{
    width: 80%;
    margin: auto;
    position: relative;
}

.team-overlay{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(169, 183, 190, 0.5);
    visibility: hidden;
    opacity:0;
}
.team-info{
    text-align: center
}
.team-info h3{
    font-size: 25px;
    margin-top: 15px;
}
.team-info span{
    color: rgb(236, 27, 27,0.4);
    font-weight: bold; 
    font-size: 18px;

}
.team-item:hover .team-overlay{
    visibility: visible;
    opacity: 1;
}
.team-overlay a {
    display: block;
    width: 35px;
    height:35px;
    color:#f6f7f8;
    background-color: rgb(0, 162, 255,0.7);
    margin-left: auto;
    text-align: center;
    padding-top: 5px;
}
.team-item::after{
    content: "";
    width: 0;
    height: 0 ;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    background-color: rgba(89, 146, 233, 0.7);
    transition: 1.5s;
    opacity:0;
}
.team-item:hover::after{
    width: 100%;
    height: 100%;
    opacity:.5;
    transition: 1.5s;
}
.team-item:hover .team-info{
    color:rgb(250, 10, 238);
    transition:  1.5s;
}
.team-item:hover .team-info span{
    color:rgb(250, 126, 10);
    font-size: 25px;
    transition:  1.5s;
}

/*------------------------------ blog ----------------------------- */

.card{
    margin: auto;
    width: 30%;
    text-align: left;
    float:left;
    margin:15px;
    position: relative;
    margin-top: 80px;
    background-color: #fff;
    transition: 1s;
    opacity: 0.8;
    overflow: auto;
}
.card::after{
    content: "";
    width: 0;
    height: 0 ;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    background-color: rgba(73, 197, 133);
    transition: 1.5s;
    opacity:0;
}
.card:hover::after{
    width: 100%;
    height: 100%;
    opacity:.5;
    transition: 1.5s;
}
.card img{
width: 80%;
padding-top: 15px;
padding-left: 20px
}
.card h3{
    font-size: 20px;
    margin-left: 15px;
    text-transform: uppercase;
    padding-top: 10px;
}
.icons{
margin: 5px;
font-size: 15px;
}
.icons .ic{
    margin: 3px;   
    color: rgb(59, 128, 192)
}
.icons .sp4{
    margin:4px;
    color: #063030
}
.card p{
    color: grey;
    margin: 15px;
}
.card a{
    color: #2cc0dd;
    margin: 15px;
    display: block;
}

/*------------------------------ contact ----------------------------- */

footer{
    background-color: #c7c5c5;
    height:350px;
    width: 100%;
    overflow: hidden;
    position:relative;
    margin: auto;
    text-align: center;
}
.icons2{
    list-style: none;
    margin: 10px 0;
}
.icons2 li{
    display: inline-block;
    position: relative;
    z-index: 5;
    border-radius: 50%;
    background-color: #7190cf;
    width:50px;
    height: 50px;
}
.icons2 li a{
    display: block;
    width:100%;
    height: 100%;
    color: #fff;
    font-size: 30px;
    left:50;
    padding-top: 20%;
}
.contact-item h5{
    padding-top: 15px;
    color: rgb(14, 168, 245);
    text-transform:uppercase; 
}
.icons2 li :hover{
    background-color: #1b0347;
    border-radius: 50%;

}